<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="news-tin-tuc-moi-nhat.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="danh-muc-vnaccs" stopProcessing="true">
                    <match url="^danh-muc-vnaccs$" />
                    <action type="Rewrite" url="/dm-vnaccs-total.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
